<h1 class="title">登録している現場一覧</h1>
	<div class="wrapper index Polka_v2">
		<div class="content index">
		<% @sites.each do |site| %>
			<div class="items">
				<h3><%= site.name %></h3>
				<div class="item-info">
					<ul>
						<h4>工期</h4>
						<li><span>開始　</span><%= site.start_date %></li>
						<li><span>終了　</span><%= site.end_date %></li>
						<h4>不足している人数</h4>
						<li><%= site.resource %>人</li>
					</ul>
				</div>
				<div class="btns">
					<% unless params[:authentication_id] %>
						<%= button_to "編集する", "/companies/#{@company.id}/sites/#{site.id}/edit", method: :get, class: "search_btn" %>
						<%= button_to "削除する", "/companies/#{@company.id}/sites/#{site.id}", method: :delete, class: "search_btn", style: "background-color: red; color: white;" %>
					<% else %>
						<%= button_to "マッチした会社を見る", "/companies/#{@company.id}/sites/#{site.id}", method: :get, class: "search_btn", style: "width: 200px; background-color: #f30da2; color: white;" %>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>