<h1 class="title resist_title">建設現場の登録</h1>

<div class="content form">
  <div class="container">
    <%= form_for [@company, @site] do |f| %>
		
		<div>
			<%= f.label :建設現場名, style: { 'margin-right' => 8 } %><br />
			<%= f.text_field :name, placeholder: "建設現場名", autofocus: true, value: '' %>
		</div>

		<div>
			<%= f.label :住所, style: { 'margin-right' => 8 } %><br />
			<%= f.text_field :address, placeholder: "住所", value: '' %>
		</div>

		<div class="date_form", style="display: flex">
			<div>
				<%= f.label :工期開始日, style: { 'margin-right' => 8 } %><br />
				<%= f.date_field :start_date, placeholder: "工期開始日" %>
			</div>
			　　　
			<div>
				<%= f.label :工期終了日, style: { 'margin-right' => 8 } %><br />
				<%= f.date_field :end_date, placeholder: "工期終了日" %>
			</div>
		</div>

		<div class="info", style="display: flex">
			<div>
				<%= f.label :不足している人数, style: { 'margin-right' => 8 } %><br />
				<%= f.number_field :resource, placeholder: "募集人数", value: 1, max: 100, min: 0 %>人
			</div>
			　　　　
			<div>
				<%= f.label :日当, style: { 'margin-right' => 8 } %><br />
				<%= f.number_field :wage, placeholder: "日当", value: 7000, step: "1000", max: 100000, min: 0 %>円
			</div>
		</div>

		<div class="contact_info", style="display: flex">
			<div>
				<%= f.label :電話番号, style: { 'margin-right' => 8 } %><br />
				<%= f.telephone_field :phone, placeholder: "電話番号", value: '' %>
			</div>
			　　　
			<div>
				<%= f.label :メールアドレス, style: { 'margin-right' => 8 } %><br />
				<%= f.text_field :mail, placeholder: "メールアドレス", value: '', class: "mail_form" %>
			</div>
		</div>

		<div>
			<%= f.label :その他情報, style: { 'margin-right' => 8 } %><br />
			<%= f.text_area :text, placeholder: "その他ご希望がございましたらご記入ください", value: '', class: "text_form" %>
		</div>
		
		<div class="row">
			<div class="col10 push1">
				<%= button_tag type: "submit", class: "btn btn--block" do %>
				保存する<i class="icon-arrow-right"></i>
				<% end %>
			</div>
		</div>
	<% end %>
  </div>
</div>

