<h1 class="title">マッチした会社</h1>
	<div class="wrapper match">
		<div class="content index">
		<% @excesses.each do |excess| %>
			<div class="items">
				<h3><a href=<%= excess.company.url %> target=”_blank”><%= excess.name %></a></h3>
				<div class="item-info">
					<ul>
						<h4>募集期間</h4>
						<li><%= excess.start_date %> ~ <%= excess.end_date %></li>
						<h4>余剰している人数</h4>
						<li><%= excess.resource %>人</li>
						<h4>電話番号・メールアドレス</h4>
						<li><i><%= excess.phone %></i>　　<i><%= excess.mail %></i></li>
						<h4>その他情報</h4>
						<li><%= excess.text %></li>
					</ul>
				</div>
				<div class="btns">
						<%= button_to "メッセージを送る", "/companies/#{@company.id}/excesses/#{excess.id}", method: :get, class: "search_btn", style: "width: 200px; background-color: #f30da2; color: white;" %>
				</div>
			</div>
		<% end %>
	</div>
</div>
