<!DOCTYPE html>
<html>
  <head>
    <title>MatchingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
        <%= link_to "Title", "/", class: "btn" %>
        <% if user_signed_in? %>
        <div class="menu">
          <ul>
            <li class="about"><%= link_to "〇〇とは", "/", class: "about" %></li>
            <li><%= button_to "マイページ", "/users/#{current_user.id}", method: :get, class: "post" %></li>
            <li><%= button_to "会社の登録", "/companies/#{@company.id}/excesses/new", method: :get, class: "post" %></li>
            <li><%= button_to "現場の登録", "/companies/#{@company.id}/sites/new", method: :get, class: "post" %></li>
            <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>

          </ul>
        </div>
        <% else %>
        <div class="menu">
          <ul>
            <li><%= button_to "ログイン", new_user_session_path, method: :get, class: "post" %></li>
            <li><%= button_to "新規登録", new_user_registration_path, method: :get, class: "post" %></li>
          </ul>
        </div>
        <% end %>
    </header>

    <%= yield %>


    <footer>
      <p>
        Copyright Title 2021.
      </p>
    </footer>
  </body>
</html>
